<!DOCTYPE html>
<html ng-app="searchApp">
  <head>
    <meta charset="utf-8">
    <title>Recherche avec Angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
      th {
        cursor:pointer;
      }
    </style>
  </head>
  <body>
    <nav ng-controller="menuController">
      <ul>
        <li ng-repeat="menu in menus">
          <a href="{{menu.url}}">{{menu.label}}</a>
        </li>
      </ul>
    </nav>

    <div ng-controller="mainController">
      Recherche par Nom
      <input type="text" ng-model="searchName">

      par Code postal
      <input type="text" ng-model="searchPostcode">

      par pays
      <select ng-model="searchCountry">
        <option>France</option>
        <option>Italie</option>
        <option>Roumanie</option>
      </select>

      <!-- Affiche le nombre total d'éléments -->
      <span>{{clients.length}}</span>

      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-click="changeOrder('name')">Nom</th>
            <th ng-click="changeOrder('postcode')">Code postal</th>
            <th ng-click="changeOrder('country')">Pays</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="client in clients |
          filter:{name:searchName, postcode:searchPostcode, country:searchCountry} |
          orderBy:criterium:reverse">
            <td>{{client.name | uppercase}}</td>
            <td>{{client.postcode}}</td>
            <td>{{client.country}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <script src="scripts/angular.min.js"></script>
    <script src="app/app.js"></script>

    <!-- controllers -->
    <script src="app/controllers/mainController.js"></script>
    <script src="app/controllers/menuController.js"></script>
  </body>
</html>
